<!DOCTYPE html>
<html>
<style>
body {background-color:#000A1A}
h1   {color:blue}
p    {color:green}
button	{background-color:black;font-weight: bold;color:white}
form 
</style>
<form action="/ptz_control" method="post">
<!-- this is really bad styling, but then again it is 5am on a sunday...-->
	<br>
	<br>
	&nbsp;
	&nbsp;
	<button type="submit" name="action" value="up" style="font-size: 110%"> ^ </button>
	<br>
	<button type="submit" name="action" value="right" >&lt;</button>
	&nbsp;
	<button type="submit" name="action" value="left" >&gt;</button>
	<br>
	&nbsp;
	&nbsp;
	<button type="submit" name="action" value="down" style="font-size: 110%">v</button>
	<br>
	<br>
	<hr>

</form>

</html>